<!-- <div class="mat-typography app-frame mat-app-background">
  <mat-toolbar color="primary">
    <span>Meow Generator</span>
    <mat-nav-list class="list-horizontal">

      <mat-list-item>
        <button color="primary" mat-menu-item>Meow Generator</button>
      </mat-list-item>

    </mat-nav-list>

  </mat-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->
<div class="mat-typography app-frame mat-app-background">
  <mat-toolbar color="primary" class="mat-elevation-z3">
    <nav>
      <a mat-button routerLink="/home">Meow Generator</a>
      <a mat-button routerLink="/favorites">Favorites</a>
      <a mat-button routerLink="/breeds">Breeds</a>
      <!-- <a mat-button routerLink="/third"><mat-icon>settings</mat-icon> Link #3</a>
    <a mat-icon-button routerLink="search" matTooltip="Search"><mat-icon>search</mat-icon></a> -->
    </nav>
  </mat-toolbar>
  <div class="app-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>