<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Meow Generator &nbsp;</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ imgUrl }}" alt="Cat Photo" *ngIf="!imgLoading" @fadeInOut>
        <mat-spinner *ngIf="imgLoading"></mat-spinner>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="onClickNext()">Next</button>
        </mat-card-actions>
    </mat-card>
</div>